// start characteristics
mixin mySkill(percent)
	.characteristics__mySkill
		.characteristics__skillLevel
			.characteristics__skillOval
		.characteristics__percentSkill= percent
section.characteristics
	.container
		h3.characteristics__mainTitle Знание технологий
		.characteristics__wrap
			.characteristics__item
				+mySkill('55%')
				.characteristics__aboutSkill
					h4.characteristics__titleItem CSS 3
					p.characteristics__textItem Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании систем массового участия. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке форм развития.
			.characteristics__item
				+mySkill('60%')
				.characteristics__aboutSkill
					h4.characteristics__titleItem HTML 5
					p.characteristics__textItem Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании систем массового участия. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке форм развития.
			.characteristics__item
				+mySkill('15%')
				.characteristics__aboutSkill
					h4.characteristics__titleItem GIT
					p.characteristics__textItem Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании систем массового участия. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке форм развития.
			.characteristics__item
				+mySkill('90%')
				.characteristics__aboutSkill
					h4.characteristics__titleItem JavaScript
					p.characteristics__textItem Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании систем массового участия. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке форм развития.
			.characteristics__item
				+mySkill('25%')
				.characteristics__aboutSkill
					h4.characteristics__titleItem JQuery
					p.characteristics__textItem Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании систем массового участия. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке форм развития.
			.characteristics__item
				+mySkill('70%')
				.characteristics__aboutSkill
					h4.characteristics__titleItem Gulp
					p.characteristics__textItem Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании систем массового участия. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке форм развития.
			.characteristics__item
				+mySkill('35%')
				.characteristics__aboutSkill
					h4.characteristics__titleItem Jade
					p.characteristics__textItem Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании систем массового участия. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке форм развития.
			.characteristics__item
				+mySkill('95%')
				.characteristics__aboutSkill
					h4.characteristics__titleItem Stilys
					p.characteristics__textItem Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании систем массового участия. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке форм развития.
			.characteristics__item
				+mySkill('100%')
				.characteristics__aboutSkill
					h4.characteristics__titleItem AJax
					p.characteristics__textItem Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании систем массового участия. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке форм развития.
			.characteristics__item
				+mySkill('50%')
				.characteristics__aboutSkill
					h4.characteristics__titleItem UI Development
					p.characteristics__textItem Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании систем массового участия. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке форм развития.
// end characteristics