doctype html
html
	head
		meta(http-equiv="content-type" content="text/html; charset=utf-8")
		title Линки страниц
		style(type="text/css").
			body {font-family: Arial}
			b {padding-right: 20px}
			b.padd {padding-right: 11px}
			hr {margin-top: 10px; margin-bottom: 10px}
	body
		h2(style="text-align: center") name project: Pages
		ul(style="margin: 0 auto 50px; width: 600px")
			hr
			li: a(href="pages/main.html") <b> Main page
