doctype html
html
	head
		title AlFiery
		include /pages/_head
	body
		main.wrap
			//- include /blocks/navigation/navigation
			include /blocks/header/header
			//- include /blocks/aboutMe/aboutMe
			//- include /blocks/characteristics/characteristics
			//- include /blocks/myWorks/myWorks
			//- include /blocks/footer/footer
		include /pages/_foot