// start myWorks
section.myWorks
	.container
		h3.myWorks__title Галерея моих работ
		.myWorks__viewWrap
			.myWorks__arrowLeft
			.myWorks__arrowRight
			.myWorks__sliderContainer
				.myWorks__side1.myWorks__sideItem
					img(src="img/portfolio/1.jpg")
				.myWorks__side2.myWorks__sideItem
					img(src="img/portfolio/2.jpg")
				.myWorks__side3.myWorks__sideItem
					img(src="img/portfolio/3.png")
				.myWorks__side4.myWorks__sideItem
					img(src="img/portfolio/4.png")
				.myWorks__side5.myWorks__sideItem
					img(src="img/portfolio/5.jpg")
				.myWorks__side6.myWorks__sideItem
					img(src="img/portfolio/1.jpg")
				.myWorks__side7.myWorks__sideItem
					img(src="img/portfolio/2.jpg")
				.myWorks__side8.myWorks__sideItem
					img(src="img/portfolio/3.png")
// end myWorks