@import 'reset.css'
// variables

// grid
$phone = 640px
$tablet = 1024px
$desktop = 1279px
$xdesktop = 1599px
$xxldesktop = 1980px

//colors

// main style
body
	font-family: 'robotoregular'
	font-size: 14px
	color: #333


// @import '../blocks/*'
