@import 'reset.css'
// variables

// grid
$small = 320px
$phone = 640px
$tablet = 1024px
$desktop = 1280px
$xdesktop = 1600px
$xxldesktop = 1980px

//colors

// main style
body
	font-family: 'cuprumregular'
	font-size: 16px
	color: #333
	min-width: 320px
	overflow-x: hidden
.container
	margin: 0 auto
p
	line-height: 20px

// adaptive
@media (max-width: $xxldesktop)
	.container
		width: $xdesktop
@media (max-width: $xdesktop)
	.container
		width: $desktop
@media (max-width: $desktop)
	.container
		width: $tablet
@media (max-width: $tablet)
	.container
		width: $phone
@media (max-width: $phone)
	.container
		width: 90%


@import '../blocks/*'
